.nav {
    max-width: 920px;
    width: 90%;
    margin: 0 auto;
}

.item-home {
    text-transform: uppercase;
    font-size: 24px;
    margin-left: 10px;
}

.content-dropdown {
    width: 250px;
}

.items {
    color: #31b5a9 !important;
}

.items:hover {
    color: #008080 !important;
}

.items-link {
 
    margin: 20px;
    justify-content: center;
}