body {
    background: url('./assets/img/RickAndMortyBack.png') fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #31b5a9;
}

a:hover {
    text-decoration: none;
    color: #008080;
}

.App {
    margin: 80px auto 70px;
}

.container {
    max-width: 920px;
    width: 90%;
    margin: 20px auto;
    padding: 20px 40px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #dee2e6;
}

.title {
    text-transform: uppercase;
    color: #31b5a9;
    font-weight: bold;
    margin: 20px auto;
}

.button {
    margin-right: 20px;
    width: auto;
    background-color: #31b5a9 !important;
    border: 1px solid green !important;
    color: black !important;
}

.button:hover {
    background-color: #008080 !important;
    border: 1px solid #31b5a9 !important;
    color: #fff !important;
}